@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./assets/scss/tailwind";
@import "./assets/scss/material";

html {
  height: 100%;
  width: 100%;

  body {
    font-family: "Poppins", sans-serif, FontAwesome;
    height: 100%;
    width: 100%;
  }
}